footer {
	position: relative;

	&.wp-block-template-part {
		background-color: $white;

		.foo {

			&-top {
				padding: 45px 0;

				.row {

					.col {

						&:nth-child(1) {

							@include media-breakpoint-down(lg) {
								border-bottom: $white solid 1px;
								margin-bottom: 40px;
								padding-bottom: 20px;
							}

							ul.contact-details {
								display: inline-block;
								padding-top: 10px;
				
								li {
									position: relative;
									max-width: 364px;
									font-size: 14px;
									color: rgba($white,0.4);
									font-weight: $light;
									padding-left: 30px;
				
									&::before {
										content:'';	
										background: url('../../assets/img/svg/contact-phone-white.svg') 100% / auto 100% no-repeat;
										transform: translateY(-50%);
										position: absolute;
										border-radius: 0;
										display: block;									
										width: 15px;
										height: 15px;
										top: 50%;
										left: 0;
									}
				
									&:nth-child(3)::before,
									&:nth-child(4)::before {
										background-image: url('../../assets/img/svg/contact-email-white.svg');
										width: 18px;
										height: 15px;
									}
				
									&:nth-child(5)::before {
										background-image: url('../../assets/img/svg/contact-location-white.svg');
										width: 13px;
										height: 18px;
									}
								}
							}
						}

						&:nth-child(2) {

							@include media-breakpoint-down(lg) {
								border-bottom: $white solid 1px;
								margin-bottom: 50px;
							}
							
							&::after {
								content:'';
								border-right: $white solid 1px;
								position: absolute;
								height: 100%;
								left: -15px;
								top: 0;

								@include media-breakpoint-down(xl) {
									display: none;
								}
							}
						}

						&:nth-child(3) {

							&::after {
								content:'';
								border-right: $white solid 1px;
								position: absolute;
								height: 100%;
								left: -15px;
								top: 0;

								@include media-breakpoint-down(xl) {
									display: none;
								}
							}
						}

						p {

							&.has-text-color {
								margin-bottom: 25px;
							}
						}

						ul {
							list-style: none;
							padding-left: 0;

							li {
								margin-bottom: 15px;

								strong a {
									font-weight: $semibold;
									color: $white;
								}

								a {
									transition: all 0.3s ease-out;
									font-weight: $light;
									color: rgba($white,0.65);

									&:hover {
										text-decoration: underline;
										transition: all 0.3s ease-out;
										opacity: 0.5;
									}

									strong {
										font-weight: $semibold;
										color: $white;
									}
								}
								
								strong {
									font-weight: $semibold;
									color: $white;
								}
							}
						}
					}
				}
			}

			&-copy {
				width: 100vw;
				border-top: $white solid 1px;
	
				.wp-block-dpwpblocks-column {
					padding: 20px;
	
					p {
						font-family: $body-font;
						color: rgba($white,0.4) !important;
						letter-spacing: 0.2px;
						font-weight: $light;
						margin-bottom: 0;
						font-size: 10px;
	
						s {
							text-decoration: none;
						}
	
						a {
							letter-spacing: 0.2px;
							font-weight: $light;
							font-size: 10px;
							color: rgba($white,0.4);
	
							@include media-breakpoint-down(sm) {
								width: 100%;
							}
	
							&:hover {
								color: rgba($white,0.7);
							}
						}
	
						em {
							font-style: normal;
							margin: 0 7px;
	
							@include media-breakpoint-down(sm) {
								margin: 0 2px;
							}
						}
					}
				}
			}
		}
	}
}