.section {

	&__home-hero {

		.wp-block-dpwpblocks-column {

			h1 {
				animation: fade-in-up2 1s linear both;

				@include media-breakpoint-down(lg) {
					max-width: 500px;
				}
			}

			p {
				animation: fade-in-up2 1s linear both;
				animation-delay: 0.15s;
				max-width: 385px;
			}

			.wp-block-dpwpblocks-button-boot,
			.logo-list {
				animation: fade-in-up2 1s linear both;
				animation-delay: 0.20s;
			}
		
			&:nth-child(2) {

				&::after {
					content:'';
					background: url('../../assets/img/svg/art5.svg') 100% / auto 100% no-repeat;
					position: absolute;
					display: block;
					left: 358px;
					bottom: -58px;
					width: 180px;
					height: 180px;
					z-index: 0;

					@include media-breakpoint-down(sm) {
						left: 200px;
						bottom: -30px;
						width: 103px;
						height: 103px;
					}
				}

				.wp-block-image {

					@include media-breakpoint-down(xl) {
						width: 100%;
						display: block;
					}

					&::before {
						content:'';
						background: url('../../assets/img/svg/art1.svg') 100% / auto 100% no-repeat;
						position: absolute;
						display: block;
						left: -58px;
						top: -58px;
						width: 318px;
						height: 318px;
						z-index: 0;

						@include media-breakpoint-down(sm) {
							width: 181px;
							height: 181px;
						}
					}

					&::after {
						content:'';
						background: url('../../assets/img/svg/art2.svg') 100% / auto 100% no-repeat;
						position: absolute;
						display: block;
						left: 358px;
						top: -58px;
						width: 126px;
						height: 126px;
						z-index: 0;

						@include media-breakpoint-down(sm) {
							left: 200px;
							top: -30px;
							width: 72px;
							height: 72px;
						}
					}

					img {
						box-shadow: 10px 5px 20px #00000012;
						border-radius: 9px;
						position: relative;
						z-index: 1;

						@include media-breakpoint-down(xl) {
							width: 100%;
						}
					}
				}
			}
		}

		&.go {

			h1,
			p,
			.logo-list,
			.wp-block-dpwpblocks-button-boot {
				animation: fade-in-up 1s linear both;
			}
		}
	}

	&__about {

		ul {
			//display: none !important;
			list-style: none;
			padding-left: 0;

			li {
				position: relative;
				font-weight: $light;
				margin-bottom: 8px;
				padding-left: 27px;

				&::before {
					background: url('../../assets/img/svg/y.svg') 100% / auto 100% no-repeat;
					content:'';
					position: absolute;
					display: block;
					width: 14px;
					height: 11px;
					left: 0;
					top: 13px;
				}
			}
		}

		& > .row > .wp-block-dpwpblocks-column:nth-child(2) {

			&::after {
				content:'';
				background: url('../../assets/img/svg/art3.svg') 100% / auto 100% no-repeat;
				position: absolute;
				display: block;
				right: 0;
				top: -75px;
				width: 195px;
				height: 205px;
				z-index: -1;

				@include media-breakpoint-down(lg) {
					display: none;
				}

			}
		}

		&--slider {
			max-width: 99% !important;
			position: relative;
			overflow: hidden;
			z-index: 1;

			.swiper-wrapper {
				grid-auto-flow: column;
				display: grid !important;
				height: 420px;
				gap: 0;

				@include media-breakpoint-down(sm) {
					height: 220px;
				}

				.wp-block-image {
					text-align: center;

					img {
						box-shadow: 10px 5px 20px #00000012;
						border-radius: 9px !important;
					}
				}
			}
		}

		.swiper-about {
			position: relative;
			list-style: none;
			padding-left: 0;
			margin-top: 30px;	
			z-index: 2;

			@include media-breakpoint-down(lg) {
				overflow-x: auto;
			}

			&--pagination {
				position: relative;
				max-width: 440px;
				padding: 0;
				margin: 0;
				
				@include media-breakpoint-down(lg) {
					display: inline-block;
					padding-left: 0;
					padding-top: 10px;
					max-width: none;
					width: 1920px;			
				}

				.swiper-pagination-bullet {
					background-color: transparent;
					display: inline-block;
					position: relative;
					width: fit-content;
					font-weight: $light;
					margin-bottom: 8px;
					padding: 5px 40px;
					border-radius: 0;
					cursor: pointer;
					color: $text;
					height: 100%;
					opacity: 1;		
					border: 0;

					@include media-breakpoint-down(lg) {
						padding: 15px 20px
					}

					&::before {
						background: url('../../assets/img/svg/y.svg') 100% / auto 100% no-repeat;
						content:'';
						position: absolute;
						display: block;
						width: 14px;
						height: 11px;
						left: 0;
						top: 13px;

						@include media-breakpoint-down(lg) {
							display: none;
						}
					}

					&:only-child {
						display: inline-block !important;
					}

					&:hover {
						font-weight: $regular;
					}

					&-active {
						background: $grey-light2;
						border-radius: 20px;
						padding-left: 55px;
						margin-left: -10px;
						font-weight: $bold;
						color: $turq2;

						@include media-breakpoint-down(lg) {
							padding-left: 20px;
							border-radius: 30px;
							margin-left: 0;
						}

						&::before {
							left: 15px;
						}
					}
				}
			}
		}

		&.go {

			h2,
			p,
			.swiper-life {
				animation: fade-in-up 1s linear both;
			}
		}
	}
}