.section {

	&__home-hero {

		.wp-block-dpwpblocks-column {

			h1 {
				animation: fade-in-up2 1s linear both;

				@include media-breakpoint-down(lg) {
					max-width: 500px;
				}
			}

			p {
				animation: fade-in-up2 1s linear both;
				animation-delay: 0.15s;
				max-width: 385px;
			}
		}
	}
}