* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	background-color: $black;
	overflow-x: hidden;
	font-size: $body;
	margin: 0;

	@include media-breakpoint-down(lg) {
		font-size: $body;
	}

	&.fixed {
		overflow-y: hidden;
	}

	.container {
		max-width: $container-width;

		@include media-breakpoint-down(lg) {
			max-width: calc(100vw - 80px);
		}

		@include media-breakpoint-down(sm) {
			max-width: calc(100vw - 40px);
		}
	}

	&.has-modal-open {
		overflow-y: hidden;
	}

	main {

		.row:first-child {

			@include media-breakpoint-down(xxl) {
				padding-left: 40px;
				padding-right: 40px;
				margin-left: auto;
				margin-right: auto;

				.row {
					padding-left: 0;
					padding-right: 0;
				}
			}

			@include media-breakpoint-down(sm) {
				padding-left: 20px;
				padding-right: 20px;

				.row {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		ul {
			list-style: none;
			padding-left: 0;
	
			li {
				position: relative;
				padding-left: 40px;
				margin-bottom: 20px;
				font-weight: $semibold;
				color: $text;
	
				&::before {
					content: '';
					position: absolute;
					transform: translateY(-50%);
					background-color: $white;
					border-radius: 100%;
					display: block;
					width: 13px;
					height: 13px;
					left: 0;
					top: 50%;
				}
			}
		}
	}
}

.hidden {
	display: none !important;
}

.wp-block-navigation__container,
.container-boxed,
.boxed {
	max-width: $container-width !important;
	margin: 0 auto;

	&-in {
		margin: 0 auto;
		max-width: 1400px;

		@include media-breakpoint-down(xl) {
			max-width: 100%;
		}
	}
}

.float-left {
	float: left !important;
} 

.short-component {
	font-size: 1em;
}

img, 
svg {
	width: fit-content;
    height: auto;
}

a {
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	text-decoration: none;
	color: $text;
	
	&:hover {
		-webkit-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
		color: rgba($text,0.7);
	}
}

.border-radius {
	
	&-72 {
		border-radius: 0px 72px;

		&-bottom {
			border-radius: 0px 0px 72px 0px;
		}

		&-right-bottom {
			border-radius: 0 72px 72px 0;
		}

		&-top-left {
			border-radius: 72px 0 0 72px;
		}

		&-right-left {
			border-radius: 0 72px 0 72px;
		}

		&-top {
			border-radius: 72px 0 0 0;
		}
	}
}

.d-block {
	margin: auto;
}

#a2a_copy {
	
	&_link {

		&_icon {
			background: url('../../assets/img/i/soc/link.png') center / auto 22px no-repeat !important;

			svg {
				display: none;
			}
		}

		&_text {
			font-family: $body-font !important;
			font-size: $body !important;
			font-weight: $light !important;
			color: $text !important;
		}

		&_copied {
			@include gradient;
		}
	}
}
