body {

	&.page {

		&.home {

			h2 {
				font-weight: $semibold;
				color: $text;
			}

			.section_quality-logos h2.hidden {
				display: block !important;
			}
		}

		&.page-template-page-contact {

			ul.contact-details {
				display: inline-block;
				padding-top: 10px;

				li {
					max-width: 364px;
					font-weight: $regular;
					padding-left: 30px;
				}
			}

			.wp-block-spacer {

				@include media-breakpoint-down(lg) {
					height: 30px !important;
				}
			}

			form.wpcf7-form {
				padding: 0 0 50px 55px;
				box-shadow: none;
				padding-right: 0;

				@include media-breakpoint-down(lg) {
					padding: 0;
				}

				.btn.wpcf7-submit {
					margin: 0 auto !important;
					padding: 14px 54px !important;
				}
			}
		}
	}

	&.single-post {

		.wp-block-post {

			&-featured-image {
				border-radius: 9px;
				overflow: hidden;
				display: block;

				img {
					max-height: 598px;
					object-fit: cover;
					
				}
			}
			
			&-content-wrap {
				position: relative;
				margin: 50px auto;
				max-width: 813px;
			}

			&-title {

				@include fontRemSize($h2);
				letter-spacing: 0.4px;
				font-weight: $bold !important;
				line-height: 50px;
				margin-bottom: 30px;
			
				@include media-breakpoint-down(lg) {
					@include fontRemSize($h2Tab);
					line-height: 50px;
					margin-bottom: 25px;
				}
			
				@include media-breakpoint-down(sm) {
					@include fontRemSize($h2Mob);
					letter-spacing: 0.32px;
					line-height: 40px;
				}
			}

			&-date {
				font-weight: $semibold;
			}
		}

		.post-navigation-link {

			&-previous,
			&-next {

				&::before {
					content:'';
					background: url('../../assets/img/svg/arr-sl-left.svg') 100% / auto 100% no-repeat;
					position: absolute;
					display: block;
					width: 5px;
					height: 9px;
					margin-top: 8px;
				}
			}
				
			&-previous {
				position: relative;
				padding-left: 20px;
				float: left;

				&::before {
					left: 0;
				}
			}

			&-next {
				padding-right: 20px;
				float: right;

				&::before {
					transform: rotate(180deg);
					right: 0;
				}
			}
		}
	}

	&.terms-conditions,
	&.privacy-policy {

		h2,
		h3 {
			text-transform: uppercase;
		}

		.wpb_text_column ul {
			list-style: disc;
		
			li {
				position: relative;
				padding-left: 0;
				margin-bottom: 15px;
				font-family: $body-font;
				font-size: 18px;
				line-height: 26px;
				color: #74769E;

				&::before {
					display: none;
				}
			}
		}
	}

	&.error404 {

		main {

			h1,
			p,
			span {
				color: $text;
			}

			h1 {
				font-weight: $black;
			}

			.wp-block-search {
				
				&__inside-wrapper {
					border-width: 0 0 1px 0;
				}

				&__button {
					background-color: transparent;
					border: 0;

					svg {

						path {
							fill: $white;
						}
					}
				}
			}

			.btn {
				margin-top: 40px;
				padding: 15px 40px;
			}
		}
	}

	&.search {

		main {

			h1,
			h2,
			div,
			p {
				color: $text;
			}

			h1,
			h2 {
				font-weight: bold;
			}

			.wp-block-query {

				ul {

					li {

						&:last-child {

							hr {
								display: none;
							}
						}
					}
				}
			}
		}
	}
} 