<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","layout":{"inherit":false}} /-->

<!-- wp:group {"tagName":"main"},"layout":{"inherit":false}} -->
<main class="wp-block-group">
	<!-- wp:dpwpblocks/row-section {"childCount":2,"topPadding":"120","botPadding":"100","blockId":"61e22d7c-35cb-419b-9453-c19aa0ffc370"} -->
	<div class="wp-block-dpwpblocks-row-section container-boxed pt-120 pb-100"><div class="row two-column-layout">
		<!-- wp:dpwpblocks/column -->
		<div class="wp-block-dpwpblocks-column col">
			<!-- wp:post-featured-image /-->
			<div class="wp-block-post-content-wrap">
				<!-- wp:post-title {"level":1} /-->
				<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->
				<!-- wp:post-date {"format":"j/n/Y"} /-->
				<!-- wp:shortcode -->[addtoany]<!-- /wp:shortcode -->
				<!-- wp:post-navigation-link {"type":"previous"} /--><!-- wp:post-navigation-link /-->
			</div>
		</div>
		<!-- /wp:dpwpblocks/column -->
	</div>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":false}} /-->