body.wp-admin {

    #adminmenu .awaiting-mod {
        position: relative;
        color: transparent;

        &::before {
            content:'DP';
            position: absolute;
            color: white;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}